.cake-gif {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
    background-color: #fff;
}
.icon {
    background: no-repeat center;
    background-image: url(../images/loading.gif);
    width: 200px;
    height: 200px;
    background-size: cover;
}