.products_page {
    padding-top: 8em;
}
.products_page li {
    list-style: none;
}

.products_page .grid {
    display: grid;
    grid-template: auto / 20% 1fr ;
    grid-gap: 24px;
}
.products_page .side_bar {
    border: 1px solid tomato;
}
.products_page .products {
    display: grid;
    grid-template: auto / repeat(3,1fr);
    grid-gap: 16px;
}
.products_page .item {
    border: 2px solid pink;
    background-color: #F6F6F6;
    border-radius: 8px;
}
.products_page .products .img {
    padding: 16px;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    background: aqua no-repeat center;
    background-size: cover;
    border-radius: 8px;
}
.products_page .content {
    text-align: center;
}