:root {
    --primary: #FFB74D;
    --secondary: #A66D56;
}

::selection {
    background-color: var(--secondary);
    color: #fff;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Inter', sans-serif;
    background-image: url(../images/pattern-a.png);
    position: relative;
    scroll-behavior: smooth;
}

.container {
    display: block;
    max-width: 1280px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #111;
}

button {
    outline: none;
    border: none;
    display: inline-block;
    cursor: pointer;
}

.fixed-top {
    background-image: url(../images/pattern-a.png);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.back-to-top {
    display: none;
}

.back-to-top.show.animated.infinite.pulse {
    position: fixed;
    bottom: 5%;
    right: 3%;
    width: 50px;
    height: 50px;
    background-color: var(--primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 111;
}

.back-to-top:hover {
    background-color: var(--secondary);
}

.show {
    display: block;
}

.active {
    color: var(--primary);
}

.overlay {
    display: none;
}

.overflow-hidden {
    overflow: hidden;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

header .row {
    display: grid;
    grid-template: auto / 250px 1fr;
    align-items: center;
    justify-content: space-around;
    padding: 24px 0;
}

header .row img {
    max-width: 200px;
    margin: 0 auto;
    display: block;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    padding-left: 16%;
}

.login {
    padding-right: 2%;
}

.nav-bar a,
.login button,
.navbar-toggle button {
    padding: 8px 16px;
}

.nav-bar a:hover {
    text-decoration: underline;
    color: var(--primary);
}

.login button,
.navbar-toggle button {
    border: 1px solid lightgrey;
    background-color: transparent;
    border-radius: 4px;
    text-transform: uppercase;
}

.login button:hover,
.navbar-toggle button:hover {
    background-color: var(--primary);
    color: #fff;
}

.navbar-toggle,
.nav-img,
.nav-logo {
    display: none;
}

/* section */

section {
    padding-bottom: 6em;
    overflow: hidden;
}

section:first-child {
    padding-top: 8em;
}


/* footer */
.footer {
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
}

.footer .row {
    display: grid;
    grid-template: auto / 250px 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 16px;
    padding: 26px 0;
}

.footer .img img {
    max-width: 80%;
    display: block;
    margin: auto;
}

.footer .name {
    color: var(--secondary);
}

.footer .col {
    display: flex;
    flex-direction: column;
    align-self: start;
}

.footer p {
    font-size: 14px;
    line-height: 2.2;
}

.footer a {
    font-size: 14px;
    line-height: 3.5;
}

.footer div a:nth-child(2) {
    margin-left: 12px;
}

.footer .content {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.footer .content i {
    font-size: 24px;
    margin-right: 5px;
}

.copyright {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    color: var(--secondary);
}

@media (max-width:1023px) {

    /* header */
    header nav {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999;
        width: 300px;
        height: 100vh;
        box-shadow: 4px 0 10px 1px rgba(0, 0, 0, .15);
        background: #fff;
        padding: 5% 0 0;
        display: none;
    }

    header nav .nav-bar {
        display: flex;
        flex-direction: column;
    }

    header .nav-bar a {
        padding-bottom: 16px;
    }

    header nav .login {
        display: none;
    }

    header .navbar-toggle {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    header .row {
        width: 100%;
        display: grid;
        grid-template: auto / 40% 1fr;
        align-items: center;
        justify-content: space-evenly;
        padding: 16px 0;
    }

    header .row img {
        width: 100%;
        max-width: 180px;
        display: block;
        margin: 0;
    }

    header .nav-logo img {
        margin: 0 auto !important;
    }

    header .login {
        padding-right: 1%;
    }

    header .overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, .5);
        z-index: 11;
    }

    header .nav-img {
        display: block;
        background: #fff no-repeat center;
        background-size: cover;
        aspect-ratio: 1/1;
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-top: 48px;
    }

    header .nav-logo {
        display: block;
        width: 100%;
        margin-bottom: 48px;
    }

    /* footer */

    footer .footer .row {
        display: block;
        text-align: left;
    }

    footer .footer .row img {
        width: 180px;
        max-width: 100%;
        margin-left: 17px;
    }

    footer .footer .row .col {
        margin: 16px;
    }

    footer .footer .col .content div {
        display: flex;
        flex-direction: column;
    }

    footer .footer a {
        line-height: 2.8;
    }

    footer .footer div a:nth-child(2) {
        margin-left: 0;
    }

    footer .footer .twitter {
        margin-left: 0 !important;
    }

    footer .copyright {
        padding: 20px 0;
        font-size: 14px;
    }

    section {
        padding-bottom: 2em;
        border-bottom: 1px solid var(--primary);
    }

    section:first-child {
        padding-top: 6em;
    }

    section:last-child {
        padding-bottom: 1em;
        border-bottom: none;
    }
}

/* loader */

.cake-gif {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
    background-image: url(../images/pattern-a.png);
}

.icon {
    background: no-repeat center;
    background-image: url(../images/loading.gif);
    width: 300px;
    height: 300px;
    background-size: cover;
}

/* products */

.products_page {
    padding-top: 8em;
}

.products_page li {
    list-style: none;
}

.products_page .grid {
    display: grid;
    grid-template: auto / 20% 1fr;
    grid-gap: 32px;
}

.products_page .side_container {
    margin: 0px;
    display: flex;
    position: relative;
    box-sizing: content-box;
    min-height: 200px;
    height: auto;
}

.products_page .side_bar {
    width: 100%;
    position: relative;
    display: flex;
    height: 200px;
    padding: 24px 16px;
    background-color: #F6F6F6;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.products_page .side_bar.sticky {
    position: fixed;
    top: 129px;
}

.products_page .products {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    grid-gap: 26px;
}

.products_page a {
    width: 100%;
}

.products_page .item {
    background-color: #F6F6F6;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.products_page .item h3:hover {
    color: var(--secondary);
}

.products_page .item h4 {
    color: gray;
}

.products_page .products .img {
    width: 60%;
    margin: auto;
    height: auto;
    aspect-ratio: 1/1;
    background: aqua no-repeat center;
    background-size: cover;
    border-radius: 8px;
}

.products_page .content {
    text-align: center;
    line-height: 1.6;
    padding-bottom: 30px;
}

.products_page .filter {
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    line-height: 2.5;
}

.products_page .filter:hover {
    color: var(--secondary);
}

.products_page h3 {
    color: var(--primary);
}

@media (max-width:1023px) {
    .products_page .grid {
        display: block;
    }

    .products_page ul {
        width: 70%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .products_page .products {
        display: grid;
        grid-template: auto / repeat(2, 1fr);
        grid-gap: 10px;
    }
}

/* home */

.home_page .title {
    display: grid;
    grid-template: auto / 40% 1fr;
    grid-gap: 48px;
    justify-items: flex-start;
    align-items: center;
    overflow: hidden;
}

.home_page .title.left {
    grid-template: auto / 1fr 40%;
    justify-items: flex-end;
}

.home_page .cart {
    width: 100%;
    align-items: center;
    background-color: var(--primary);
    border-radius: .45rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    justify-content: center;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    transition: all 250ms;
    touch-action: manipulation;
    vertical-align: baseline;
    text-transform: uppercase;
    padding-right: 38px;
}

.home_page .cart:hover {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    transform: translateY(-1px);
    background-color: var(--secondary);
    color: #fff;
}

.home_page .cart:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.home_page .cart::after {
    content: "\1F370";
    font-size: 15px;
    position: absolute;
    right: 14px;
    top: 9px;
}

.home_page .title .text {
    font-family: system-ui, -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 24px 0;
}

.home_page .title .content {
    padding-bottom: 24px;
}

.home_page .title .text h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 42px;
    color: var(--primary);
    padding-bottom: 24px;
}

.home_page .title .text p {
    font-size: 16px;
    color: grey;
    line-height: 1.6;
}

.home_page .title .img,
.home_page .title .item {
    background: aqua no-repeat center;
    background-size: cover;
    height: 100%;
    aspect-ratio: 16/9;
    border-radius: 24px;
}

.home_page .title .owl-carousel .owl-stage-outer .owl-item {
    height: 550px;
}

@media (max-width:1023px) {
    .home_page .title {
        display: block;
    }

    .home_page .title.left {
        margin-top: 3em;
    }

    .home_page .title .img {
        margin-bottom: 1em;
    }

    .home_page .title .owl-carousel .owl-stage-outer .owl-item {
        height: auto;
        width: 100%;
    }
}

/* about */

.about_page .chef_infor {
    padding: 24px;
    display: grid;
    grid-template: auto / 30% 1fr;
    align-items: center;
    grid-gap: 36px;
    border-radius: 12px;
}

.about_page .head {
    min-height: 100vh;
    position: relative;
}

.about_page .profile {
    display: grid;
    grid-template: auto /repeat(3, 1fr);
    grid-gap: 24px;
}

.about_page .about {
    text-align: center;
}

.about_page .about h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 46px;
    color: var(--primary);
    padding-bottom: 24px;
}

.about_page .chef_infor p {
    font-size: 16px;
    color: grey;
    line-height: 1.6;
}

.about_page .chef img {
    width: 70%;
    height: auto;
    aspect-ratio: 1/1;
    border: 1px solid var(--primary);
    border-radius: 8px;
}

.about_page .chef {
    text-align: center;
}

.about_page .chef h3 {
    font-family: 'Dancing Script', cursive;
    color: var(--primary);
    font-size: 34px;
    margin: 16px;
}

.about_page ul li {
    list-style-type: none;
    background: var(--primary);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_page ul li a {
    color: #fff;
}

.about_page .social-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 16px;
}

.about_page .content {
    padding-bottom: 4em;
}

.about_page .content h3 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 46px;
    color: var(--primary);
    padding: 30px 0;
}

.about_page .content h3:first-child {
    padding: 0;
}

.about_page .content p {
    font-size: 16px;
    color: grey;
    line-height: 1.6;
}

.about_page .content-item {
    display: grid;
    grid-template: auto / 1fr 1fr;
    align-items: center;
}

.about_page .content-item .img {
    aspect-ratio: 1/1;
    width: 100%;
    height: 280px;
    border-radius: 8px;
    background: no-repeat center;
    background-size: cover;
    border: 1px solid var(--primary);
}

.about_page .content-item p {
    width: 100%;
    padding: 24px;
    text-align: center;
}

.about_page .head_img {
    width: 100%;
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    gap: 46px;
}

.about_page .head_img .img {
    aspect-ratio: 1/1;
    width: 80%;
    margin: auto;
    background: no-repeat center;
    background-size: cover;
    border-radius: 50%;
}

.about_page .head_img h4 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    color: grey;
    margin: 40px auto 24px auto;
}

.about_page .head_img p {
    margin-top: 24px;
    text-align: center;
}

.about_page .down {
    display: block;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
}

/* product details */


.products_details_page .container {
    display: grid;
    grid-template: auto / 40% 1fr;
    gap: 24px;
}
.products_details_page .cake-img {
    background: no-repeat center;
    background-size: cover;
    aspect-ratio: 1/1;
    width: 100%;
}